@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@300;700&display=swap');

$font-family-base: 'Allison', cursive;

$pink: #AF0171;
$blue: #46B5D1;


@import '../node_modules/bootstrap/scss/bootstrap.scss';

$theme-colors: (
  "pink":   $pink,
  "blue":   $blue,       
);

.card {
    @extend .card;
    background-color: $dark;
    .card-title {
        color: $pink;
    }
    .card-text {
        color: $blue;
    }
    .btn {
        color: $blue;
        background-color: $pink;
    }
}
